<template>
  <style>
    .date {
      color: #5a5a5a;
      font-size: smaller;
      margin-left: 3em;
    }
    .content {
      margin: 0 10px;
    }
    .content figure {
      float: left;
      margin: 0 10px;
    }
  </style>
  <section class="au-animate">
      <h2>${heading}</h2>
      <ul class="pure-g au-stagger timeline">
        <li class="timeline-milestone is-completed timeline-start pure-u-1 au-animate" repeat.for="activity of activities">
                <div class="title">
                    <h3>${activity.title}</h3>
                </div>
                <div class="content">
                  <figure class="pure=u">
                    <img src="${activity.image}" alt="activity image" height="100">
                  </figure>
                  <div class="content pure-u-3-4">
                  <p class="name">${activity.timestamp | relative} <span class="date">(${activity.timestamp | date})</span></p>
                    <p class="name">${activity.description}</p>
                </div>
                </div>
        </li>
      </ul>
  </section>
</template>
