<template>
  <section class="au-animate">
    <h2>${heading}</h2>
    <form role="form" submit.delegate="submit()" class="pure-form pure-form-aligned">
      <div class="pure-control-group">
        <label for="fn">First Name</label>
        <input type="text" value.bind="firstName" class="form-control" id="fn" placeholder="first name">
      </div>
      <div class="pure-control-group">
        <label for="ln">Last Name</label>
        <input type="text" value.bind="lastName" class="form-control" id="ln" placeholder="last name">
      </div>
      <div class="pure-controls">
        <div>${fullName | upper}</div>
        <button type="submit" class="pure-button pure-button-primary">Say Hi</button>
      </div>
    </form>
  </section>
</template>
