<template>
  <section>
    <h2>${heading}</h2>

    <form role="form" submit.delegate="login()" class="pure-form pure-form-aligned">
      <div class="pure-control-group">
        <label for="username">Username</label>
        <input type="text" value.bind="username" class="form-control" id="username" placeholder="Username">
      </div>
      <div class="pure-control-group">
        <label for="password">Password</label>
        <input type="password" value.bind="password" class="form-control" id="password" placeholder="Password">
      </div>
      <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">Login</button>
      </div>
    </form>

    <hr>
    <div class="alert alert-danger" if.bind="loginError">${loginError}</div>
  </section>
</template>
