<template>
  <section class="au-animate">
      <h2>${heading}</h2>
      <div class="row au-stagger">
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-5 card-container au-animate" repeat.for="message of messages">
            <div class="card">
                <div class="title">
                    <h2>${message.subject}</h2>
                </div>
                <div class="content">
                    <p class="name">${message.body}</p>
                </div>
            </div>
        </div>
      </div>
  </section>
</template>
