<template bindable="router">
  <nav class="custom-wrapper pure-g" id="menu">
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="pure-menu">
        <a href="#" class="pure-menu-heading custom-brand"><i class="fa fa-home"></i> ${router.title}</a>
        <a href="#" class="custom-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="pure-menu pure-menu-horizontal custom-can-transform">
        <ul class="pure-menu-list">
          <li repeat.for="row of router.navigation | authFilter: isAuthenticated" class="pure-menu-item ${row.isActive ? 'pure-menu-selected' : ''}">
            <a href.bind="row.href" class="pure-menu-link">${row.title}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="pure-menu pure-menu-horizontal custom-menu-3 custom-can-transform">
        <ul class="pure-menu-list">
          <li class="loader pure-menu-item" if.bind="router.isNavigating">
            <i class="fa fa-spinner fa-spin fa-2x"></i>
          </li>
          <li if.bind="!isAuthenticated" class="pure-menu-item"><a href="/#/login" class="pure-menu-link">Login</a></li>
          <li if.bind="isAuthenticated" class="pure-menu-item"><a href="/#/logout" class="pure-menu-link">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
</template>
