<template>
  <require from="blur-image"></require>

  <section class="au-animate">
      <h2>${heading}</h2>
      <div class="row au-stagger">
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-5 card-container au-animate" repeat.for="user of users">
            <div class="card">
                <img src.bind="user.bgImage" crossorigin ref="image" class="hidden"/>
                <canvas class="header-bg" width="250" height="70" blur-image.bind="image"></canvas>
                <div class="avatar">
                    <img src.bind="user.avatar"/>
                </div>
                <div class="content">
                    <p class="name">${user.firstName} ${user.lastName}</p>
                    <p><a target="_blank" class="pure-button pure-button-primary" route-href="route: userDetail; params.bind: { id: user.id }">Details</a></p>
                </div>
            </div>
        </div>
      </div>
  </section>
</template>
